body {
  font-family: var(--font-body);
  background: var(--color-bg-default);
  color: var(--color-text-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: 700;
}
