:root {
  /* Primitive Colors */
  --_blue-500: #2e75b6;
  --_blue-600: #2563a8;
  --_blue-700: #1d4ed8;

  --_slate-50: #f8fafc;
  --_slate-100: #f1f5f9;
  --_slate-200: #e2e8f0;
  --_slate-300: #cbd5e1;
  --_slate-400: #94a3b8;
  --_slate-500: #64748b;
  --_slate-800: #1e293b;
  --_slate-900: #0f172a;
  --_slate-950: #020617;
  
  --_gray-400: #9ca3af;
  --_gray-800: #1F2937;
  --_gray-900: #111827;
  
  --_white: #ffffff;
}
